<!-- <gifs-list class="p-1" [gifs]="gifs()"/> -->
<!-- <gifs-list class="p-1" [gifs]="gifService.trendingGifs()"/> -->


<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
  @for (group of gifService.trendingGifsGroup(); track $index) {
    <div class="grid gap-4">
      @for (gif of group; track gif.id) {
        <div>
          <img
            class="h-full w-full rounded-lg object-contain"
            [src]="gif.url"
            [alt]="gif.title"
          />
        </div>
      }
    </div>
  }
</div>

